@charset "utf-8";
/* CSS Document */
body{
   -webkit-text-size-adjust:none;
}
#warp,#head,#foot{
    width:100%;
}
#main{
	width:1030px;
	margin:0 auto;
}
#head{
	height:144px;
	background:url(img/head_bg2.jpg) repeat-x bottom;
}
#head_top{
	width:100%;
	height:29px;
	background:url(img/head_top.png) repeat-x;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
#sections{
    width:100%;
}

.lg_rrr{
  position:absolute;
  top:25px;
  left:360px;
  width:17px;
  height:46px;
}
.lg_rrr a{
  width:17px;
  height:46px;
  background:url(img/z_t_ico1.gif) no-repeat left;
  text-align:center;
  line-height:14px;
  overflow:hidden;
  color:#fff;
  display:block;
}
.lg_rrr a:hover{
  background:url(img/z_t_ico1.gif) no-repeat right;
  color:#fff !important;
}
.h_qqatel{
  position:absolute;
  right:45px;
  top:/*5px*/25px;
}
.h_qqatel ul li{
  height:48px;
  float:left;
  padding-left:10px;
  font-family:"微软雅黑";
}
.h_qqatel ul li a{
  background:url(img/h_qqatel.gif) no-repeat left center;
  width:46px;
  height:/*98px*/48px;
  display:block;
}
.h_qqatel ul li.h_tela a{
  background-position:right center;
}
.h_qqatel ul li h1{
  font-size:25px;
  color:#0092DD;
  line-height:22px;
  padding-top:2px;
}
.h_qqatel ul li p{
  font-size:16px;
  color:#ACB7C5;
  line-height:24px;
  padding-top:2px;
}

#head_top .head_ttt{
  width:1030px;
  margin:0 auto;
  position:relative;
  height:29px;
  line-height:29px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
#head_top .head_ttt .hh_ll{
  float:right;
  color:#8C8C8C;
  font-size: 12px;
}
#head_top .head_ttt .hh_ll a{
  padding:0 5px;
  color:#8C8C8C;
  font-size: 12px;
}
#head_top .head_ttt .hh_ll a:hover{

  color:#000;
}
#head_top .head_ttt .hh_rr{
  float:left;
  color:#dfdfdf;
}
#head_top .head_ttt .hh_rr a{
  color:#8c8c8c;
}
#head_top .head_ttt .hh_rr a:hover{
  color:#000;
}
#head_top .head_ttt .hh_rr .hh_wx{
  float:right;
  padding-left:4px;
}
#head_top .head_ttt .hh_rr .hh_wx a{
  height:29px;
  width:90px;
  display:block;
  background:url(img/tt_wx.gif) no-repeat center center;
}
#head_top .head_ttt .hh_rr .aa{
  padding:0 6px;
  font-size: 12px;
}

.head_top{
	width:1150px;
	height:130px;
	margin:0 auto;
	position:relative;
}
.head_dh{
  position:absolute;
  right:0px;
  top:21px;
  font-family:"微软雅黑";
}
.head_dh .head_dh_t{
  float:left;
  height:22px;
  line-height:22px;
  padding-bottom:6px;
  border-bottom:1px solid #FFBA00;
}
.head_dh .head_dh_t ul li{
  float:left;
  padding:0 9px;
  background:url(img/top_ico.png) no-repeat -8px 3px;
}
.head_dh .head_dh_t ul li a{
  font-size:14px;
  color:#0093DD;
  background:url(img/top_ico.png) no-repeat;
}
.head_dh .head_dh_t ul li .aa1{
  background-position:left -41px;
  padding-left:17px;
}
.head_dh .head_dh_t ul li .aa2{
  background-position:left -78px;
  padding-left:19px;
}
.head_dh .head_dh_t ul li .aa3{
  background-position:left -126px;
  padding-left:23px;
}
.head_dh .head_dh_t ul li .aa4{
  background-position:left -171px;
  padding-left:21px;
}
.head_dh .head_dh_t ul li .aa5{
  background-position:-2px -200px;
  padding-left:18px;
}
.logo{
	position:absolute;
	left:0px;
	top:19px;
}
.head_tel{
  position:absolute;
  right:5px;
  top:55px;
  font-size:20px;
  color:#848484;
  font-family:"微软雅黑";
}
.use_li{
  padding-bottom:15px;
}
.use_li a{
  width:192px;
  height:28px;
  line-height:28px;
  background:url(img/lg_li.png) no-repeat;
  display:block;
  text-align:center;
}
.use_li a:hover{
  background:url(img/lg_li.png) no-repeat bottom;
}
.nav{
	width:1150px;
	height:44px;
	position:relative;
	top:99px;
	z-index:99;
}
.nav ul{
	float: left;
	width: 100%;
	height: 44px;
	overflow: hidden;
}
.dh_hk{
  position:absolute;
  left:157px;
  bottom:22px;

}
.nav ul .glht{
  float:right !important;
}
.nav ul .glht a{
  background:url(img/account.png) no-repeat 18px 15px;
  padding-left:42px;
  padding-right:0px;
}
.nav ul .glht a:hover{
  /*background:url(img/account.png) no-repeat 18px center #006DAC;*/
  color:#C8E7FF;
  background:url(img/account.png) no-repeat 18px -40px;
}
.nav ul li{
	float:left;
	position:relative;
}
.nav ul li a{
	display:inline-block;
	height:44px;
	line-height:44px;
	color:#FFF;
	font-size:16px;
	text-align:center;
	padding:0 31px;
	font-family:Microsoft YaHei !important;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 1px;
}
.ripple {
	  position: absolute;
	  background: rgba(255,255,255,0.15);
	  border-radius: 100%;
	  -webkit-transform: scale(0);
	  -moz-transform: scale(0);
	  -ms-transform: scale(0);
	  transform: scale(0);
	  pointer-events: none;
	}
	.show {
	
	  -webkit-animation: ripple .75s ease-out;
	  -moz-animation: ripple .75s ease-out;
	  -ms-animation: ripple .75s ease-out;
	  animation: ripple .75s ease-out;
	}
	
	@-webkit-keyframes ripple {
	  to {
	    transform: scale(2);
	    opacity: 0;
	  }
	}
	@-moz-keyframes ripple {
	  to {
	    transform: scale(2);
	    opacity: 0;
	  }
	}
	@-ms-keyframes ripple {
	  to {
	    transform: scale(2);
	    opacity: 0;
	  }
	}
	@keyframes ripple {
	  to {
	    transform: scale(2);
	    opacity: 0;
	  }
	}
.hot{
	width:17px;
	height:18px;
	background:url(img/hot_bg.png) no-repeat;
	position:absolute;
	top:-10px;
	right:40px;
	z-index:99;
}
.nav ul li a:hover{
	color:#FFF;
	background:#0A85CD;
	text-decoration:none;
}
.nav ul li .nav_hover{
    color:#FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	background:#FFBA00;
}

.nav ul li .nav_a:hover, .nav ul li .intro{
	color:#fff;
	background:#006DAC;
}
.nav ul .sun_nav{
	display:none;
	position:absolute;
	left:0px;
	top:43px;
	width:171px;
	
}
.nav ul .sun_nav li{
	float:none;
	padding:0;
	background:none;
	position:static;
}
.nav ul .sun_nav li a{
	color:#fff;
	font-size:16px;
	height:31px;
	line-height:31px;
	width:171px;
	text-align:center;
	display:block;
	padding:0;
	background:#006DAC;
	Opacity:0.6;
	filter: Alpha(Opacity=60) 
}
.nav ul .sun_nav li a:hover{
	color:#fff;
	Opacity:0.8;
	background:#006DAC;
	filter: Alpha(Opacity=80)
}

#foot{
	margin-top:20px;
	background:#FAFAFA;
	position:relative;
}
#foot .foot{
  width:1030px;
  margin:0 auto;
  padding-top:18px;
  color:#6D6D6D;
  font-size:13px;
  background:#fafafa;
}
#foot .foot .foot_fw{
  height:80px;
  width:100%;
  background:url(img/f_5fuwu.gif) no-repeat center top;
  padding-bottom:18px;
}
#foot .foot .foot_fw ul li{
  float:left;
  height:80px;
}
#foot .foot .foot_fw ul li a{
  display:block;
  height:80px;
}
#foot .foot .foot_fw ul li a.f_fw1{
  width:200px; 
}
#foot .foot .foot_fw ul li a.f_fw2{
  width:216px; 
}
#foot .foot .foot_fw ul li a.f_fw3{
  width:212px; 
}
#foot .foot .foot_fw ul li a.f_fw4{
  width:192px; 
}
#foot .foot .foot_fw ul li a.f_fw5{
  width:210px; 
}
#foot .foot .foot_fw ul li a:hover{
  background:url(img/f_5fuwu.gif) no-repeat;
}
#foot .foot .foot_fw ul li a.f_fw1:hover{
  background-position:47px -140px;
}
#foot .foot .foot_fw ul li a.f_fw2:hover{
  background-position:-153px -140px;
}
#foot .foot .foot_fw ul li a.f_fw3:hover{
  background-position:-369px -140px;
}
#foot .foot .foot_fw ul li a.f_fw4:hover{
  background-position:-581px -140px;
}
#foot .foot .foot_fw ul li a.f_fw5:hover{
  background-position:-773px -140px;
}
#foot .foot  .foot_nv{
  padding-top:13px;
  background:url(img/f_xian.gif) repeat-x top;
  padding-bottom:9px;
}
#foot .foot  .foot_nv ul li{
  float:left;
  min-height:95px;
  padding-right:3px;
  background:url(img/f_sxian.gif) no-repeat right;
  text-align:center;
}
#foot .foot  .foot_nv ul li h1{
  font-size:18px;
  font-family:"微软雅黑";
  padding-top:1px;
  padding-bottom:4px;
}
#foot .foot  .foot_nv ul li a{
  color:#6D6D6D;
}
#foot .foot  .foot_nv ul li a:hover{
  color:#000;
}
#foot .foot  .foot_nv ul li p{
  line-height:20px;
  font-size:13px;
}
#foot .foot  .foot_nv ul li.f_nv1{
  width:196px;
  padding-left:35px;  
}
#foot .foot  .foot_nv ul li.f_nv2{
  width:211px;
}
#foot .foot  .foot_nv ul li.f_nv3{
  width:213px;
}
#foot .foot  .foot_nv ul li.f_nv4{
  width:340px;
  padding-right:0;
  background:none;
}
#foot .foot  .foot_nv ul li .f_qqzx{
  width:116px;
  height:29px;
  margin:4px auto;
}
#foot .foot  .foot_nv ul li .f_qqzx a{
  width:116px;
  height:29px;
  display:block;
  background:url(img/f_qqzx.gif) no-repeat left;
}
#foot .foot  .foot_nv ul li .f_qqzx a:hover{
  background:url(img/f_qqzx.gif) no-repeat right;
}
#foot .foot  .foot_nv ul li .dianhua{
  color:#6D6D6D;
  font-size:25px;
  font-family:"微软雅黑";
  letter-spacing:1.75px;
}
#foot .foot  .foot_nv ul li span{
  display:block;
  font-size:13px;
  padding-top:2px;
}

#foot .foot .foot_cpr{
  font-size:13px;
  padding-top:12px;
  background:url(img/f_xian.gif) repeat-x top;
  text-align:center;
  padding-bottom:12px;
}
/*.foot_tk{
  text-align:center;
  height:49px;
}
.footer{
	width:1030px;
	height:224px;
	margin:0 auto;
	position:relative;
	font-family:Microsoft YaHei !important;
	
}
.foot_li{
  position:absolute;
  top:22px;
}
.foot_tit{
  height:30px;
  line-height:30px;
  font-size:18px;
  padding-bottom:3px;
  background:url(img/foot_tt_bg.png) repeat-x bottom;
  text-indent:3px;
  color:#333333;
}
.foot_li_1{
  left:12px;
  width:172px;
}
.foot_li_1 ul li{
  line-height:26px;
  height:26px;
  text-indent:4px;
}
.foot_li_1 ul li a{
  color:#333333;
}
.foot_li_1 ul li a:hover{
  color:#FFA800;
}
.foot_li_2{
  width:340px;
  left:244px;
}
.foot_li_2_d{
  margin-left:-12px;
  margin-top:4px;
}
.foot_li_3{
  width:378px;
  left:655px;
}
.foot_li_3 ul li{
  line-height:26px;
  height:26px;
}
.foot_li_3 ul li a{
  color:#333333;
}
.foot_li_3 ul li a:hover{
  color:#FFA800;
}


.ft_list{
	width:640px;
	position:absolute;
	left:40px;
	top:20px;
}
.ft_list ul{
	float:left;
}
.ft_list ul li{
	width:160px;
	height:28px;
	line-height:28px;
	float:left;
	color:#666;
}
.ft_list ul li span{
	font-size:15px;
	font-weight:bold;
}
.ft_list ul li a{
	color:#666;
}
.ft_list ul li a:hover{
  color:#FFA700;
}
.ft_logo{
	position:absolute;
	right:0px;
	top:74px;
	width:199px;
	height:71px;
	background:url(img/foot_logo.png) no-repeat;
}
.ft_logo_h{
  background:url(img/foot_logo.png) no-repeat bottom !important;
}
.copyright{
	width:1030px;
	position:absolute;
	bottom:12px;
	padding-top:5px;
	background:url(img/foot_tt_bg.png) repeat-x top;
}
.copyright p{
	font-size:12px;
	color:#666;
	text-align:center;
}
.copyright p span{
	font-size:15px;
	color:#333;
	padding-left:20px;
}*/

.login .yhzx{
  height:22px;
  line-height:22px;
  padding-bottom:4px;
  border-bottom:1px solid #ccc;
  font-size:18px;
  font-family:"微软雅黑";
  color:#FFA700;
  padding-top:10px;
  margin-bottom:8px;
  font-weight:bold;
}
.login a{
  color:#666;
  font-size:13px;
}
.login .yhzx span{
  font-size:18px;
  font-family:"微软雅黑";
  color:#999;
  display:inline;
  font-weight:100;
  padding-left:2px;
}
.u_hy{
  line-height:22px;
  padding:3px 0 13px;
  text-align:center;
  display:block;
} 
.u_glzx ,.u_gl ,.u_ck{
  display:block;
  line-height:22px;
  padding:3px 0 3px 0px;
  text-align:center;
}
.u_fgx{
  height:20px;
  background:url(img/u_or.gif) no-repeat -3px center;
}
.u_xg{
  height:24px;
  line-height:24px;
}
.u_xg a{
  padding:0 20px;
}

#swin p input{
  border:1px solid #ccc;
}

.rightContent{
	width:222px;
	float:right;
	font-family:Microsoft YaHei !important;
}
.login{
	width:192px;
	height:auto;
	border:2px solid #ECECEC !important;
	padding:0px 14px;
	position: relative;
}
.login span{
	display:block;
	text-align:center;
	color:#FFA700;
	font-size:18px;
	font-weight:bold;
}
.login p{
	color:#525252;
	font-size:14px;
	padding:6px 0;
	line-height:25px;
}
.login p a{
	color:#525252;
}
.userName, .passWord{
	width:172px;
	height:29px;
	line-height:29px;
	color:#525252;
	font-size:11px;
	padding-left:20px;
	font-family:Microsoft YaHei !important;
}
.userName{
	background:url(img/text_bg.jpg) no-repeat;
}
.passWord{
	background:url(img/pwd_bg.jpg) no-repeat;
}
.submit{
	width:192px;
	height:29px;
	font-size:13px;
	font-weight:bold;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-family:Microsoft YaHei !important;
	background: url(img/submit_bg.jpg) no-repeat;
}
.tabbox{
	width:220px;
	height:128px;
	border:1px solid #D0D0D0;
	margin-top:22px;
}
.tabbox .tabbtn{
	width:214px;
	height:28px;
	overflow:hidden;
	padding:2px 3px 0;
	background:url(img/tabbtn_bg.jpg) repeat-x;
}
.tabbox .tabbtn li{
	width:105px;
	float:left;
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:center;
	cursor:pointer;
	border:1px solid #F5F5F5;
	border-bottom:2px solid #E7E7E7;
}
.tabbox .tabbtn li.current2{
	color:#333;
	background:#FFF;
	border:1px solid #E7E7E7;
	border-bottom:2px solid #FFF;
}
.tabbox .tabcon{
	height:78px;
	padding:10px 20px;
}
.tabcon img{
	width:67px;
	height:77px;
	float:left;
}
.tabcon span{
	display:block;
	float:right;
	width:100px;
	font-size:15px;
	font-weight:bold;
	color:#666;
	line-height:28px;
	padding-top:10px;
}

.xx_sm{
	padding-top:20px;
}
.title2{
	height:25px;
	background:url(img/title2_bg.jpg) repeat-x bottom;
}
.title2 span{
	color:#333;
	font-size:16px;
	font-weight:bold;
	height:25px;
	display:inline-block;
	padding:0 13px;
	background:url(img/title2Span_bg.jpg) repeat-x bottom;
}

.fw_lx{
	padding:5px 14px;
}
.fw_lx ul{
	float:left;
}
.fw_lx li{
	width:190px;
	float:left;
	font-size:13px;
	color:#333;
	padding:5px 0;
}
.fw_lx li span{
	width:70px;
	display:block;
	float:left;
}
.fw_lx li p{
	width:120px;
	float:right;
	padding-bottom:2px;
}

.iinew ul li{
  width:100%;
  height:25px;
  line-height:25px;
  padding:7px 0;
  border-bottom:1px dotted #E6E6E6;
  font-family:"微软雅黑";
  text-indent:6px;
  overflow:hidden;
  font-size: 12px;
}
.iinew ul li a{
  color:#444;
}
.iinew ul li a:hover{
  color:#FFA700;
}
.title2{
	height:25px;
	background:url(img/title2_bg.jpg) repeat-x bottom;
}
.title2 span{
	color:#111;
	font-size:16px;
	font-weight:bold;
	height:25px;
	display:inline-block;
	padding:0 13px;
	background:url(img/title2Span_bg.jpg) repeat-x bottom;
	font-family:"微软雅黑";
	font-weight:100;
}

.toushu{
  display:block;
  padding-top:8px;
  line-height:18px;
  color:#333333;
  font-family:"微软雅黑";
  font-size:13px;
}
.toushu ul li{
  width:100%;
  display:block; 
  line-height:22px;
  float:left;
}
.toushu ul li .ts_left{
  width:64px;
  float:left;
  text-align:right;
}
.toushu ul li .ts_right{
  width:156px;
  float:left;
  padding-left:2px;
  text-indent:16px;
}
.ts_qq{
  background:url(img/r_ico_t.png) no-repeat 0px 4px;
}
.ts_tel{
  background:url(img/r_ico_t.png) no-repeat 0px -34px;
}

.kf_qq_r{
  width:52px;
  height:174px;
  position:fixed;
  top:262px;
  right:-10px;
}
.kf_qq_r a{
   background:url(img/qq_kf.png) no-repeat -81px -66px;
   display:block;
   width:52px;
   height:174px;
}
.kf_qq_r a:hover{
  opacity: 0.8;
}

.democode{width:400px;margin:30px auto 0 auto;line-height:24px;}
.democode h2{font-size:14px;color:#3366cc;height:28px;}
.agree{margin:40px auto;width:400px;font-size:16px;font-weight:800;color:#3366cc;}

.btnbox{text-align:center;height:30px;padding-top:10px;background:#ECF9FF;}

#windownbg{
  display:none;
  position:absolute;
  width:100%;
  height:100%;
  background:#000;
  top:0;
  left:0;
}
#windown-box{
  position:fixed;
  _position:absolute;
  border:8px solid #4CB3E7;
  background:#FFF;
  text-align:left;
}
#windown-title{
   position:relative;
   height:44px;
   border-bottom:1px solid #CCCCCC;
   overflow:hidden;
   background:#F5F5F5;
}
#windown-title h2{
    background: url(img/qq_kf.png) no-repeat scroll -66px 2px transparent;
    color: #666666;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
    left: 10px;
    line-height: 40px;
    padding-left: 84px;
    position: absolute;
    top: 5px;
}
#windown-title p{
  color: #666666;
    font-size: 15px;
    font-weight: bold;
    left: 198px;
    position: absolute;
    top: 17px;
}
#windown-close{
    background: url(img/qq_kf.png) no-repeat scroll -106px -42px transparent;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -10em;
    top: 17px;
    width: 12px;
}
.mainlist{
  width:100%;
}
#windown-content-border{position:relative;top:-1px;}
.kf_qq_li{
  padding:19px 0;
  background: url(img/qq_kf_line.gif) no-repeat center bottom;
  float:left;
  width:100%;
}
.kf_qq_li .kf_qq_li_left{
  width:175px;
  float:left;
  background-image:url(img/qq_kf.png);
  margin-right:22px;
  height:50px;
}
.kf_qq_li .kf_qq_li_right{
  width:394px;
  float:left;
  font-family:"微软雅黑";
  color:#333;
}
.kf_qq_li_1{
  background-position:3px -262px;
}
.kf_qq_li_2{
  background-position:3px -355px;
}
.kf_qq_li_3{
  background-position:0px -425px;
}
.kf_qq_li_4{
  background-position:0px -510px;
}

.kf_r_t{
  width:100%;
  float:left;
  padding-bottom:4px;
}
.kf_r_t span{
  font-size:16px;
  float:left;
  padding-top:3px;
}
.kf_r_t .qyqq{
  width:102px;
  height:24px;
  line-height:24px;
  font-size:15px;
  color:#fff;
  background:#3A9EDF;
  display:block;
  text-align:center;
  float:left;
  font-weight:bold;
}

.kf_qq_c{
  width:100%;
  float:left;
  overflow:hidden;
}
.kf_qq_c ul{
  width:408px;
}
.kf_qq_c ul li{
   width:93px;
   height:23px;
   float:left;
   margin-right:7px;
   display:inline;
   margin-bottom:7px;
   font-family:"宋体";
}
.kf_qq_c ul li a{
  width:93px;
  height:23px;
  line-height:23px;
  display:block;
  color:#333;
  text-align:center;
  font-size:13px;
  background:url(img/qq_kf.png) -51px -654px;
}
.kf_qq_c ul a:hover{
  background:url(img/qq_kf.png) -51px -685px;
  color:#fff;
}
.kf_r_d{
    border-top: 1px solid #CCCCCC;
    float: left;
    font-size: 12px;
    padding-top: 4px;
    width: 100%;
}
.ke_qq_jl{
  width:189px;
  float:left;
}
.ke_qq_jl_l{
  background: url(img/kf_qq_line2.jpg) no-repeat right  top;
  min-height:100px;
  margin-right:13px;
}
.ke_qq_jl p{
  line-height:20px;
  display:block;
  float:left;
  width:100%;
}
.ke_qq_jl .jl_left{
  float:left;
  width:53px;
  font-size:13px;
}
.ke_qq_jl .jl_right{
  float:left;
  width:134px;
  font-size:13px;
  line-height:20px;
}
.ke_qq_jl .jl_right .jl_call{
  padding-left:24px;
  float:left;
  display:block;
  background:url(img/qq_kf.png) -77px -590px;
  padding-bottom:2px;
}
.ke_qq_jl .jl_right .jl_qq{
  padding-left:25px;
  float:left;
  display:block;
  background:url(img/qq_kf.png) -77px -609px;
}
.ke_qq_jl .jl_right .jl_qq a{
  width:93px;
  height:23px;
  line-height:23px;
  display:block;
  color:#333;
  text-align:center;
  font-size:13px;
  background:url(img/qq_kf.png) -51px -654px;
}
.ke_qq_jl .jl_right .jl_qq a:hover{
  background:url(img/qq_kf.png) -51px -685px;
  color:#fff;
}

#windown-content img,#windown-content iframe{display:block;}
#windown-content .loading{position:absolute;left:50%;top:50%;margin-left:-8px;margin-top:-8px;}

/*--微信--*/
#featured-content{
  width:190px;
  height:56px;
  display:block;
  z-index:-1;
  float:left;
}
#featured-content img{
  z-index:0;
}
 #featured-preview {
         display: none;
    height: 270px;
    left: -14px;
    overflow: hidden;
    position: absolute;
    top: 62px;
    width: 320px;
    z-index: 90;
    }

    #featured-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
		 width: 190px;
        height: 56px;
    }

    #featured-overlay div {
       background:#fff;
        z-index: 100;
        display: none;
        width: 190px;
        height: 56px;
    }

.info{
  width: 1035px;
  border-top: 2px solid #84d2f8;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
  height: 200px;
}
.info div{
  float: left;
  width: 15%;
}
.info div:last-child{
  width: 54.9%;
}
.info .infodivLast{
	width: 54.9%;
}
.info h3{
  background: #f7f7f7;
  text-align: center;
  padding:1em;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #444;
}
.info div>p{
  padding: 1em;
  font-size: 13px;
  color: #666;
}

.info div>p span{
  display: block;
  /*padding: 0 0 0;*/
  font-size: 13px;
  color: #ff3f3f;

}

.banner_bg{
    background: url("img/banner_bg.jpg") no-repeat;
    height: 444px;
}
.ban_l {
    padding-top: 80px;
}
.ban_l span a{
    display: block;
    background: #59bed3;
    font-size: 28px;
    padding: 15px 35px;
    margin-top: 80px;
    color: #fff;
    text-align: center;
    margin-right: 60px;
}
.ban_l span a:hover{
    display: block;
    background: #42b0c7;
    font-size: 28px;
    padding: 15px 35px;
    margin-top: 80px;
    color: #fff;
    text-align: center;
    margin-right: 60px;
	text-decoration:none;
}
.wrapbody{width:100%;background:#f9f9f9}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.left{
	float:left;
}
.right{
	float:right;
}

.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(57, 64, 80);
}
#box4 {
    float: none;
    height: 311px;
    margin: 0px auto;
    clear: none;
    width: 1200px;
    min-width: 0px;
    background-image:url("img/images_03.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}
#box5 {
    float: left;
    height: 158px;
    margin-left: 697.765625px;
    margin-top: 14px;
    clear: none;
    width: 137px;
    background-image:url("img/f1.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box6 {
    float: left;
    height: 158px;
    margin-left: 7px;
    margin-top: 15px;
    clear: none;
    width: 137px;
    margin-right: 0%;
    background-image:url("img/f2.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box8 {
    float: left;
    height: 158px;
    margin-left: -354.96875px;
    margin-top: 139px;
    clear: none;
    width: 137px;
    margin-right: 0%;
    background-image:url("img/f4.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box9 {
    float: left;
    height: 158px;
    margin-left: -209.109375px;
    margin-top: 139px;
    clear: none;
    width: 137px;
    margin-right: 0%;
    background-image:url("img/f5.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding-left: 7px;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box7 {
    float: left;
    height: 158px;
    margin-left: 6.375px;
    margin-top: 15px;
    clear: none;
    width: 137px;
    margin-right: 0%;
    background-image:url("img/f3.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box5:hover {
    background-image:url("img/f1_hor.png"),url("img/f1.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box6:hover {
    background-image:url("img/f2_hor.png"),url("img/f2.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box7:hover {
    background-image:url("img/f3_hor.png"),url("img/f3.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box8:hover {
    background-image:url("img/f4_hor.png"),url("img/f4.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#box9:hover {
    background-image:url("img/f5_hor.png"),url("img/f5.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

.delivery{ width: 1200px; margin:0 auto; background:url(img/delivery.png) no-repeat center center; height:400px; overflow:hidden; position:relative;}
.delivery i{ width:120px; height:120px;display:block;line-height:120px; text-align:center; font-size:20px; background:#2aa8e2; color:#fff;border-radius:60px; position:absolute; left:0px ;top:50%; margin-top:-60px;}
.delivery .dly_icon1{ left:15px;}
.delivery .dly_icon2{ left:225px;}
.delivery .dly_icon3{ left:435px;}
.delivery .dly_icon4{ left:650px;}
.delivery .dly_icon5{ left:860px;}
.delivery .dly_icon6{ left:1065px;}
.delivery b{ line-height:24px; text-align:center; font-size:14px; color:#333;position:absolute; left:0px ;top:0px; }
.delivery .dly_text1{ left:145px; top:170px;}
.delivery .dly_text1_2{ left:135px; top:210px;}
.delivery .dly_text2{ left:355px; top:170px;}
.delivery .dly_text2_top{ left:325px; top:30px;}
.delivery .dly_text2_bottom{ left:315px; top:350px;}
.delivery .dly_text3{ left:570px; top:170px;}
.delivery .dly_text3_top{ left:325px; top:30px;}
.delivery .dly_text4{ left:780px; top:170px;}
.delivery .dly_text4_top{ left:770px; top:30px;}
.delivery .dly_text4_bottom{ left:770px; top:350px;}
.delivery .dly_text5{ left:990px; top:170px;}
.bor{border: 0px solid #e5ece9;border-radius: 4px;}

/*微信主体部分*/
.pdt_main {display:block; width:1200px; margin:0 auto;}
/*图片导航*/
.navpic {display:block; width:1198px; border:0px solid #feeaeb; margin-bottom:30px;}
.navlink {display:block; width:150px; height:40px; margin:0 auto; line-height:40px; font-size:16px; color:#fff; text-align:center; background:#ffb534; cursor:pointer;}
.navlink:hover {background: #ffcc00;}
.picbox01,.picbox02,.picbox03,.picbox04,.picbox05,.picbox06,.picbox07 {display:block; position:relative; overflow:hidden;width:1198px;}
.itembox01,.itembox02,.itembox03,.itembox04,.itembox05,.itembox06,.itembox07 {display:block; position:absolute;}
.itembox01>h1,.itembox02>h1,.itembox03>h1,.itembox04>h1,.itembox05>h1,.itembox06>h1,.itembox07>h1 {display:block; width:220px; margin:0 auto; margin-bottom:15px; text-align:center; font-size:36px; color:#f90;}
.itembox01>p,.itembox02>p,.itembox03>p,.itembox04>p,.itembox05>p,.itembox06>p,.itembox07>p { font-size:14px; color:#666; line-height:18px; text-align:center; margin-bottom:15px;}

.picbox01 {height:431px; background:url(img/navpic01.jpg) no-repeat;}  
.picbox02 {height:540px; background:url(img/navpic02.jpg) no-repeat;} 
.picbox03 {height:464px; background:url(img/navpic03.jpg) no-repeat;} 
.picbox04 {height:422px; background:url(img/navpic04.jpg) no-repeat;} 
.picbox05 {height:467px; background:url(img/navpic05.jpg) no-repeat;} 
.picbox06 {height:635px; background:url(img/navpic06.jpg) no-repeat;} 
.picbox07 {height:545px; background:url(img/navpic07.jpg) no-repeat;}

.itembox01 { width:280px; top:50px; right:130px;}
.itembox02 { width:580px; top:50px; left:250px;}
.itembox03 { width:280px; top:120px; left:110px;}
.itembox04 { width:330px; top:80px; right:100px;}
.itembox05 { width:250px; top:110px; left:110px;}
.itembox06 { width:240px; top:60px; left:430px;}
.itembox07 { width:240px; top:150px; right:80px;}

.clear{clear: both;padding: 0px;margin: 0px;overflow: hidden;height: 0px;line-height: 0px;font-size: 0px;}
.blank20 {height: 20px;}
.w1200{ margin:0 auto; width:1200px;}
.vipbody .vip_title{ height:52px; position:relative;}
.vipbody .vip_title h2{font-weight:bold; font-size:35px; line-height:52px; text-align: center;}
.tab-content{border:1px solid #D5DEFF; border-top:none;border-radius: 0px 0px 4px 4px; padding: 30px 20px 20px 20px;}
.tab_vip{ border-bottom:1px solid #D5DEFF; height:48px; position:relative;}
.tab_vip li{ float:left; height:48px; line-height:47px;}
.tab_vip li a{color:#0c0b17; display:block;font-size:14px; font-weight:bold;}
.tab_vip li span{ display:block;padding:0 22px;margin-right:2px;border:1px solid transparent;border-radius:4px 4px 0 0}
.tab_vip li.select span{ border:1px solid #D5DEFF;border-bottom:1px solid #fff; font-weight:bold;}
.tab_vip li.select{ background:none;}
.tab_vip li.select span,.tab_vip li.select span:focus,.tab_vip li.select span:hover {color:#555;cursor:default;background-color:#fff;}
.market_vip_five h3{font-weight:bold; font-size:16px; line-height:40px; text-align:left;}
.market_vip_five p{line-height:26px;}
.market_vip_five .five_info{background:url(img/market_vip_five_2.png) no-repeat center center; height:125px; position:relative;}
.market_vip_five .five_info span{ position:absolute; padding:10px; text-align:center;}
.market_vip_five .five_info .five_info_1{ left:435px; top:5px;}
.market_vip_five .five_info .five_info_2{ left:35px; top:85px;}
.market_vip_five .five_info .five_info_3{ left:190px; top:85px;}
.market_vip_five .five_info .five_info_4{ left:350px; top:85px;}
.market_vip_five .five_info .five_info_5{ left:515px; top:85px;}
.market_vip_five .five_info .five_info_6{ left:680px; top:85px;}

.section-wrap{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
.section-wrap .section{ position:relative; width:100%; height:100%;  overflow:hidden;}
.section-wrap .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}
.section-wrap .section .title p{ padding:0 4%;opacity:0}
.section-wrap .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}
.w1200{width: 1200px;margin: 0 auto;}
.w1210{width: 1000px;margin: 0 auto;height: 513px; position:relative;}
.w1210{position: relative}
.w1210 .textDesc{float: left;padding-top: 170px;width: 465px;text-align: left}
.w1210 .textDesc h2{font-size:36px;color:#5b5b5b;line-height:50px;font-weight: normal;}
.w1210 .textDesc p{font-size:18px;color:#9d9d9d;padding:15px 0;line-height:30px;}
.w1210 .imgDesc{float:right}
.w1210 .imgDesc img{margin-top:116px;}
.section-1 .w1210 .textDesc p{width:556px;text-indent:2em}
.section-1 .w1210 .imgDesc img{}
.section-2 .w1210 .textDesc{ float:right;  width: 284px;}
.section-2 .w1210 .imgDesc{ float:left;}

.section{}
.section .section_title{position: relative;cursor:pointer;z-index:999;background:url(img/2_03_03.png);width:477px;height:45px;line-height:45px;color:#fff;font-size:18px;position:absolute;left:0;top:-46px;}
.section .section_title p{width:336px;margin-left:40px;color:#fff;font-size:18px;text-align:left;}
.section .section_title ul{width: 477px;position: absolute;top: 45px;left: 0;border-top: 10px solid transparent;display:none}
.section .section_title:hover ul{display:block}
.section .section_title ul li{width:393px;height:44px;margin-bottom:2px;}
.section .section_title ul li:nth-child(odd){background:url(img/8-1_03.png);}
.section .section_title ul li:nth-child(even){background:url(img/8-1_06.png);}
@media (max-width:1200px){
	.section .section_title{ top: 0;}
}

.btm_bga { font-family:"Microsoft Yahei",arial,"������",tahoma,sans-serif;
	height: 65px;
	background: #08a5e0;
}
.btma {
	width: 1040px;
	height: 65px;
	margin: 0 auto;
}
.btma span {
	display: block;
	float: left;
	line-height: 65px;
	color: #FFFFFF;
	font-size: 20px;
}
.footera { font-family:"Microsoft Yahei",arial,"������",tahoma,sans-serif;
	border-top: 4px solid #C3C3C3;
}

.footera img {vertical-align: middle;
}


.com_bga {
	background: #f8f8f8;
}
.wrappera {
	width: 1040px;
	margin: 0px auto;
	position: relative;
}





.row_08a {
	padding: 20px;
	border-bottom: 1px solid #EBEBEB;
}
.row_08a .heada {
	height: 40px;
	line-height: 40px;
}
.row_08a .heada h3 {
	font-size: 15px;
	color: #000;
}
.row_08a .bodya {
	padding: 10px 0px;
}
.row_08a .bodya ul li {
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #666;
}
.row_08a .box1a {
	width: 260px;
	float: left;
}
.row_08a .box2a {
	width: 270px;
	float: left;
}
.row_08a .box3a {
	width: 285px;
	float: left;
}
.row_08a .box3a .bodya a {
	padding: 0px 5px;
	color: #666;
}
.row_08a .box3a .bodya a:hover {
	opacity: .7;
	filter: alpha(opacity=70);
	text-decoration: none;
}
.row_08a .box3a .bodya img {
}
.row_08a .box4a {
	width: 95px;
	float: right;
}
.row_08a .box4a .bodya img {
	width: 90px;
	height: 90px;
}
.copyrighta {
	padding: 15px 0 0 0;
	text-align: center;
	font-size: 12px;
	color: #666;
}
.copyrighta .thumba ul li {
	display: inline;
	margin: 0 10px;
}
.copyrighta .thumba img {
	width: 100px;
	height: 36px;
}
.copyrighta .thumba {
	margin-bottom: 15px;
}
.copyrighta .foot_txta {
	line-height: 20px
}
