/* CSS Document */
.bd0{border:0px;}
input[type=text]:focus{outline: 0;border: 1px solid #f48787;box-shadow: 0px 0px 3px 1px #f48787;}
input[type=checkbox]{
width: 20px;
height: 20px;
}
BODY {
	FONT-FAMILY: "Microsoft YaHei"; HEIGHT: 100%; COLOR: #666; FONT-SIZE: 14px
}
A {COLOR: #666; TEXT-DECORATION: none;font-family:Microsoft YaHei,Tahoma, Geneva, sans-serif;}
HTML.off {BACKGROUND: url(../images/left_bg.png) #e2e9ea repeat-y -40px top}
HTML.off BODY {BACKGROUND: url(../images/left_bg.png) #e2e9ea repeat-y -40px top}
HTML.on {
	BACKGROUND: #e2e9ea
}
HTML.on BODY {
	BACKGROUND: #e2e9ea
}
HTML.addbg {
	BACKGROUND: #e2e9ea
}
HTML.addbg BODY {
	BACKGROUND: #e2e9ea
}
A:hover {TEXT-DECORATION: underline}
.pad-6 {PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; OVERFLOW: hidden; PADDING-TOP: 6px}
.pad-10 {OVERFLOW:hidden;margin-top:-5px;}
.pad_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pad-lr-10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pad-lr-6 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.hr {
	//BACKGROUND: url(../images/uline.gif) repeat-x center center;
	BORDER-BOTTOM: 1px dashed #ddd;
}
.hr HR {
	DISPLAY: none
}
.border-none {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.border-none-td TD {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.ib {
	ZOOM: 1; DISPLAY: inline
}
.ib-li LI {
	ZOOM: 1; DISPLAY: inline
}
.ib-a A {
	ZOOM: 1; DISPLAY: inline
}
.ib-span SPAN {
	ZOOM: 1; DISPLAY: inline
}
.common-form UL LI SPAN.text {
	ZOOM: 1; DISPLAY: inline
}
.fixed-bottom .fixed-but .button {
	ZOOM: 1; DISPLAY: inline
}
.arrowhead {
	ZOOM: 1; DISPLAY: inline
}
.arrowhead-b {
	ZOOM: 1; DISPLAY: inline
}
#Skin LI {
	ZOOM: 1; DISPLAY: inline
}
.shortcut A {
	ZOOM: 1; DISPLAY: inline
}
.shortcut A SPAN {
	ZOOM: 1; DISPLAY: inline
}
.picBut A {
	ZOOM: 1; DISPLAY: inline
}
.tab-use {
	ZOOM: 1; DISPLAY: inline
}
.scroll A {
	ZOOM: 1; DISPLAY: inline
}
.cut_line SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #FFBE7A; PADDING-TOP: 0px
}
.mr6 {
	MARGIN-RIGHT: 6px
}
.mr8 {
	MARGIN-RIGHT: 8px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mb6 {
	MARGIN-BOTTOM: 6px
}
.mb8 {
	MARGIN-BOTTOM: 8px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.picBut {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 75px; BACKGROUND: url(../images/picBnt.png) no-repeat 0px -28px; FLOAT: left; HEIGHT: 28px; COLOR: #fff; FONT-WEIGHT: 700; MARGIN-RIGHT: 10px
}
.picBut A {
	WIDTH: 75px; COLOR: #fff; TEXT-DECORATION: none
}
.line-x {
	BORDER-BOTTOM: #eee 1px solid
}
.title-1 {
	BORDER-BOTTOM: #eee 1px solid; PADDING-LEFT: 5px
}
.title-2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 18px/33px "MicroSoft YaHei","SimHei"; HEIGHT: 33px; COLOR: #333; PADDING-TOP: 8px
}
BODY FIELDSET {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 10px
}
BODY FIELDSET LEGEND {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #d8d8d8 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 3px
}
BODY FIELDSET.blue {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid
}
BODY FIELDSET.blue LEGEND {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #347add; BORDER-LEFT-STYLE: none; FONT-WEIGHT: 700; PADDING-TOP: 3px
}
.fixed-bottom {
	HEIGHT: 60px; _margin-top: 12px
}
.fixed-bottom .fixed-but {
	POSITION: fixed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/x_bg.png) #fff repeat-x 0px -100px; HEIGHT: 30px; BORDER-TOP: #f1f1f1 1px solid; PADDING-TOP: 10px; _position: relative
}
.fixed-bottom .fixed-but .button {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 32px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/btn-content.png) no-repeat; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.fixed-bottom .fixed-but .button INPUT {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 32px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/btn-content.png) no-repeat; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.fixed-bottom .fixed-but .button {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.fixed-bottom .fixed-but .button INPUT {
	MARGIN: 0px; PADDING-RIGHT: 10px; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND-POSITION: right top; COLOR: #004092; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.subnav {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.subnav H2 {
	MARGIN-BOTTOM: 6px
}
.explain-col {
	BORDER-BOTTOM: #ffbe7a 1px solid; BORDER-LEFT: #ffbe7a 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: #fffced; BORDER-TOP: #ffbe7a 1px solid; BORDER-RIGHT: #ffbe7a 1px solid; PADDING-TOP: 8px
}
.vote_bar {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; WIDTH: 90%; HEIGHT: 13px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.vote_bar DIV {
	POSITION: relative; BACKGROUND: url(../images/x_bg.png) repeat-x left -194px; FLOAT: left; HEIGHT: 16px; _height: 13px
}
.vote_bar DIV SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 12px; WIDTH: 180px; DISPLAY: block; HEIGHT: 16px; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; TOP: 0px; LEFT: 0px
}
.crumbs {
	BACKGROUND: url(../images/icon_use.png) no-repeat 34px -8px;
}
.tab-web-panel LI A:hover {
	BACKGROUND: url(../images/icon_use.png) no-repeat
}
.tab-web-panel LI.on A {
	BACKGROUND: url(../images/icon_use.png) no-repeat
}
.header {
	POSITION: relative;  HEIGHT: 80px;BACKGROUND:#c73938;min-width:1200px;
}
.header .logo {
	WIDTH: 200px; BACKGROUND: url(../images/logo2.png) no-repeat center; FLOAT: left; HEIGHT: 80px; background-size:90% 90%;-moz-background-size:90% 90%;-webkit-background-size:90% 90%;-o-background-size:90% 90%;}
.header .logo A {
	DISPLAY: block; HEIGHT: 80px; TEXT-DECORATION: none
}
.header .rt-col {Z-INDEX: 10; POSITION: absolute; WIDTH: 600px; HEIGHT: 80px;top:27px;right:20px;}
.header .rt-col1 {margin-top:-20px;}
.header .nav {
	POSITION: relative; BOTTOM: 0px; DISPLAY: block; HEIGHT: 80px;
}
.header .col-auto {
	/* FLOAT: none; OVERFLOW: visible */width:600px;float:left;
}
.header .nav LI {
	LINE-HEIGHT: 80px; DISPLAY: block;  HEIGHT: 80px; FONT-SIZE: 16px; FONT-WEIGHT: 700; float: left;width:100px
}
.header .nav LI A {
	DISPLAY: block;PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND-POSITION: right top; PADDING-TOP: 0px;LINE-HEIGHT: 80px;HEIGHT: 80px;
}
.header .nav LI A:hover{text-decoration:none; background:#A03743;}
.header .nav LI.on {
	text-decoration:none;
}
.header .nav LI.on A {
	 COLOR: #fff
}
.header .nav LI.tab_web {
	POSITION: relative
}
.header .nav LI.tab_web A {
	POSITION: absolute
}
.header .nav LI.tab_web A {
	LINE-HEIGHT: 38px; BACKGROUND: url(../images/site.png) no-repeat; HEIGHT: 34px; _float: left
}
.header .nav LI.tab_web A SPAN {
	LINE-HEIGHT: 38px; BACKGROUND: url(../images/site.png) no-repeat; HEIGHT: 34px; _float: left
}
.header .nav LI.tab_web {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.header .nav LI.tab_web A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; CURSOR: pointer; PADDING-TOP: 0px
}
.header .nav LI.tab_web A:hover {
	BACKGROUND-POSITION: left -40px; COLOR: #3a6ea5; TEXT-DECORATION: none
}
.header .nav LI.tab_web A.on {
	BACKGROUND-POSITION: left -40px; COLOR: #3a6ea5; TEXT-DECORATION: none
}
.header .nav LI.tab_web A SPAN {
	PADDING-RIGHT: 24px; DISPLAY: block; BACKGROUND-POSITION: right 2px
}
.header .nav LI.tab_web A:hover SPAN {
	BACKGROUND-POSITION: right -40px
}
.header .nav LI.tab_web A.on SPAN {
	BACKGROUND-POSITION: right -40px
}
.header .nav dl{background:#c73938;position:absolute;z-index:999999;width:100px;text-align:center;padding:15px 0px;top:80px;display:none}
.header .nav dd{height:38px;line-height:38px;font-size:14px;}
.header .nav dd a{height:38px;line-height:38px;}
.header .nav dd:hover{background:#F00;}
.header .nav dd a:visited,.header .nav dd a:active,.header .nav dd a:hover{color:#fff}	
.tab-web-panel {
	BORDER-BOTTOM: #b3cbe4 1px solid; BORDER-LEFT: #b3cbe4 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; ZOOM: 1; BACKGROUND: #fff; BORDER-TOP: #b3cbe4 1px solid; BORDER-RIGHT: #b3cbe4 1px solid; PADDING-TOP: 1px
}
.tab-web-panel LI {
	MARGIN-TOP: 1px; BACKGROUND: #f0f5f6
}
.tab-web-panel LI A {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 8px; WIDTH: 105px; PADDING-RIGHT: 22px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 18px; PADDING-TOP: 3px
}
.tab-web-panel LI A:hover {
	BACKGROUND-COLOR: #d5e5f6; BACKGROUND-POSITION: 50px -52px
}
.tab-web-panel LI.on A {
	BACKGROUND-COLOR: #d5e5f6; BACKGROUND-POSITION: 50px -52px
}
.header .col-auto {
	HEIGHT: 80px
}
.header .log {PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; HEIGHT: 20px; PADDING-TOP: 0px;line-height: 26px;font-size: 12px;font-weight: bold;text-align:right;font-family:Microsoft YaHei;}
.header .tab_style {PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 14px; PADDING-TOP: 16px;}
#Skin {Z-INDEX: 1000; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 11px; FONT-SIZE: 0px; PADDING-TOP: 14px;}
#Skin LI {
	WIDTH: 14px; BACKGROUND: url(../images/skinbt.png) no-repeat; HEIGHT: 11px; CURSOR: pointer; _overflow: hidden
}
#Skin .s1 {
	BACKGROUND-POSITION: -14px -66px
}
#Skin .s2 {
	BACKGROUND-POSITION: 0px -55px
}
#Skin .s3 {
	BACKGROUND-POSITION: 0px -33px
}
#Skin .s4 {
	
}
.left_menu {
	POSITION: relative; WIDTH: 200px; DISPLAY: block; OVERFLOW: hidden;background: #EB4362;
}
#Scroll {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
.left_menu_on {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.left_menu_on #Scroll {
	DISPLAY: none
}
.left_menu H3 {
	height:52px;
	line-height:52px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	background:#EB4362 url(../img/arrow.png) no-repeat 155px center;
}
.left_menu H4 {
	height:52px; line-height:52px; font-size:16px; font-weight:bold; text-align:center; color:#fff;
}
.left_menu H4 .ico_shouye{BACKGROUND: url(../img/houtai_index_tb.png) no-repeat center center;background-size:23px 20px;display:inline-block; width:24px; height:24px; *display:inline; position:relative; top:6px; margin-right:5px;}

.left_menu UL LI {
	DISPLAY: block; COLOR: #fff;height:45px;line-height:45px;text-align:right;  background: #c73938;
}
.left_menu UL LI A {
	LINE-HEIGHT: 45px; COLOR: #fff; PADDING-RIGHT: 53px; DISPLAY: block; TEXT-DECORATION: none;font-size:14px;height:45px
}
.left_menu UL LI A:hover {
	background:#A03743; text-decoration:none; color:#fff;
}
.left_menu UL LI.on {
	DISPLAY: block; COLOR: #fff;height:45px;line-height:45px;text-align:right;  background: #A03743;
}
.left_menu H3 SPAN {
	BACKGROUND: url(../img/ico2.png) no-repeat center center;
}
.left_menu H3 .ico_gr{
	BACKGROUND: url(../img/ico_gr.png) no-repeat center center;
}
.left_menu UL LI.on A {
	LINE-HEIGHT: 45px; COLOR: #fff; PADDING-RIGHT: 53px; DISPLAY: block; TEXT-DECORATION: none;font-size:14px;height:45px
}
.left_menu UL LI.on A:hover {
	background:#A03743; text-decoration:none; color:#fff;
}
.left_menu A.open {
	WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../images/left_menu_openClose.png) no-repeat 3px center; FLOAT: left; HEIGHT: auto; TOP: 0px; RIGHT: -11px
}
.left_menu A.close {
	WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../images/left_menu_openClose.png) no-repeat 3px center; FLOAT: left; HEIGHT: auto; TOP: 0px; RIGHT: -11px
}
.left_menu A.open:hover {
	BACKGROUND-COLOR: #d6e1e4
}
.left_menu A.close:hover {
	BACKGROUND-COLOR: #d6e1e4
}
.left_menu H3 SPAN.on {
	display:inline-block; width:24px; height:24px; *display:inline; zoom:1; position:relative; top:6px; margin-right:5px;
}
.scroll {
	POSITION: absolute; WIDTH: 120px; BOTTOM: 14px; DISPLAY: none; HEIGHT: 17px; OVERFLOW: hidden; LEFT: 10px
}
.scroll A {
	MARGIN: 0px 5px; WIDTH: 48px; BACKGROUND: url(../images/scroll_bg.png) no-repeat left top; HEIGHT: 17px
}
.scroll A:hover {
	BACKGROUND-POSITION: left bottom
}
.scroll A.next {
	BACKGROUND-POSITION: right top
}
.scroll A.next:hover {
	BACKGROUND-POSITION: right bottom
}
.crumbs {
	height:52px; line-height:50px; padding-left:50px; border-bottom:1px solid #ddd;font-size:16px;color:#EB4362;font-family:"Microsoft YaHei";
}
.shortcut {
	POSITION: relative; FLOAT: right; TOP: -4px;
}
.shortcut A {
	PADDING-LEFT: 6px; COLOR: #0364ae; MARGIN-LEFT: 6px
}
.shortcut A {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; BACKGROUND: url(../images/bnt_bg.png) no-repeat 0px -83px; HEIGHT: 21px; _line-height: 20px
}
.shortcut A SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; BACKGROUND: url(../images/bnt_bg.png) no-repeat 0px -83px; HEIGHT: 21px; _line-height: 20px
}
.shortcut A SPAN {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: right -83px
}
.col-tab {
	
}
.col-tab UL.tabBut {
	POSITION: relative; PADDING-LEFT: 14px; BOTTOM: -1px; HEIGHT: 27px
}
.col-tab UL.tabBut LI {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; LINE-HEIGHT: 26px; FLOAT: left; HEIGHT: 25px; BORDER-TOP: #dce3ed 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #dce3ed 1px solid
}
.col-tab UL.tabBut LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #eaeef4; PADDING-TOP: 0px
}
.col-tab UL.tabBut LI.on {
	POSITION: relative; BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 26px; FONT-WEIGHT: 700; _height: 27px
}
.col-tab UL.tabBut LI.icon {
	BACKGROUND-IMAGE: url(../images/icon/exclamation_small.png); PADDING-LEFT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 3px center
}
.col-tab .content {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid; _zoom: 1
}
.col-tab .content-r {
	BORDER-TOP: #dce3ed 1px solid;
}
.col-tab .contentList {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid; _zoom: 1
}
.col-1 {
	 ZOOM: 1; BACKGROUND: #fff;padding-left:20px;
}

.col-1 DIV.content {
	 ZOOM: 1;
}
.col-2 {
	zoom:1;
}
H6 {
	  border-bottom: 1px solid #DDDDDD;text-indent: 15px;color: #EB4362;line-height: 36px;height: 36px;background-color: #F7F7F7;font-size: 15px;
}
.col-2 DIV.content {
	  height: auto; padding:0px 20px 5px; font-size: 14px;color: #666;
}
.cat-menu {
	MARGIN: 10px 8px 0px 0px; WIDTH: 180px
}
.cat-menu DIV.content {
	PADDING-LEFT: 8px
}
.fav-nav {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/fav-nav-bg.png) repeat-x left top; HEIGHT: 28px;
}
.fav-nav SPAN {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/fav-nav-bg.png) repeat-x left top; HEIGHT: 28px
}
.fav-nav A {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/fav-nav-bg.png) repeat-x left top; HEIGHT: 28px
}
.fav-nav {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.fav-nav SPAN {
	POSITION: relative; PADDING-RIGHT: 2px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right -78px; FLOAT: left
}
.fav-nav DIV {
	FLOAT: left
}
.fav-nav A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: left; PADDING-TOP: 0px
}
.fav-nav A:hover {
	BACKGROUND-POSITION: right -40px; TEXT-DECORATION: none
}
.fav-nav A.on {
	BACKGROUND-POSITION: right -40px; TEXT-DECORATION: none
}
.fav-nav A.panel-delete {
	Z-INDEX: 10; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 16px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/cross.png) no-repeat center 3px; HEIGHT: 16px; TOP: 7px; RIGHT: 4px; PADDING-TOP: 0px
}
.fav-nav A.panel-add {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 16px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: right -120px; FLOAT: left; MARGIN-LEFT: 5px; PADDING-TOP: 0px; _margin-left: 3px
}
.fav-nav A.panel-add:hover {
	BACKGROUND-POSITION: center -163px
}
.fav-nav A.panel-delete:hover {
	BACKGROUND-POSITION: center -46px
}
.fav-nav A.panel-delete EM {
	DISPLAY: none
}
.fav-nav A.panel-add EM {
	DISPLAY: none
}
.fav-help {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 24px; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND: url(../images/icon/info.png) #fff no-repeat 3px 6px; FLOAT: none; HEIGHT: 26px; TOP: 2px; RIGHT: 14px; PADDING-TOP: 0px
}
.fav-help A {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; PADDING-TOP: 0px
}
.fav-help A.panel-delete {
	MARGIN: 0px; TOP: 5px; RIGHT: 2px
}
.fav-help A:hover {
	COLOR: #cc3300
}
.content-menu {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.content-menu A:hover {
	TEXT-DECORATION: none
}
.content-menu A EM {
	ZOOM: 1; DISPLAY: inline
}
.content-menu A.add {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content-menu A.add EM {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content-menu A.on {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content-menu A.on EM {
	LINE-HEIGHT: 28px; BACKGROUND: url(../images/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content-menu SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #ddd; PADDING-TOP: 0px
}
.content-menu A {
	CURSOR: pointer
}
.content-menu A.add {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.content-menu A.add EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right top; COLOR: #fff; PADDING-TOP: 0px
}
.content-menu A.on {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left -41px; COLOR: #fff; PADDING-TOP: 0px; _background-position: left -39px
}
.content-menu A.on EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right -41px; PADDING-TOP: 0px; _background-position: right -39px
}
#pages {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: ??¨¬?; PADDING-TOP: 14px
}
#pages A {
	BORDER-BOTTOM: #e3e3e3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: #fff; HEIGHT: 22px; COLOR: #333; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 0px
}
#pages A.a1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 56px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/pages.png) no-repeat 0px 5px; PADDING-TOP: 0px
}
#pages A:hover {
	BACKGROUND: #f1f1f1; COLOR: #000; TEXT-DECORATION: none
}
#pages SPAN {
	BORDER-BOTTOM: #5a85b2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #5a85b2 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: #5a85b2; HEIGHT: 22px; COLOR: #fff; BORDER-TOP: #5a85b2 1px solid; BORDER-RIGHT: #5a85b2 1px solid; PADDING-TOP: 0px
}
.page .noPage {
	BORDER-BOTTOM: #e3e3e3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e3e3e3 1px solid; LINE-HEIGHT: 22px; DISPLAY: inline-block; BACKGROUND: url(../images/icu/titleBg.png) repeat-x 0px -55px; HEIGHT: 22px; COLOR: #a4a4a4; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.img-wrap {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.img-wrap A {
	TEXT-ALIGN: center; DISPLAY: block; VERTICAL-ALIGN: middle
}
#imgPreview TD.on {
	BACKGROUND: #f4f9fe
}
#imgPreview TD.on A {
	LINE-HEIGHT: 16px; PADDING-RIGHT: 70px; ZOOM: 1; DISPLAY: inline; BACKGROUND: url(../images/msg_bg.png) no-repeat right -250px; HEIGHT: 16px; VERTICAL-ALIGN: middle
}
.role-memu {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.role-memu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; HEIGHT: 24px; COLOR: #2e74d7; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.role-memu LI A EM {
	WIDTH: 80px; DISPLAY: block; OVERFLOW: hidden
}
.role-memu LI A SPAN {
	FLOAT: right; COLOR: #999
}
.role-memu LI A SPAN IMG {
	MARGIN-RIGHT: 2px
}
.role-memu LI.on A {
	BACKGROUND: #e0e9f0
}
.role-but {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 36px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 12px; ZOOM: 1; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/tbtn.png) no-repeat; HEIGHT: 36px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.role-but SPAN {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 36px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 12px; ZOOM: 1; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/tbtn.png) no-repeat; HEIGHT: 36px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.role-but SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 12px; BACKGROUND-POSITION: right top; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.addContent {
	MARGIN: 0px auto; WIDTH: 960px; OVERFLOW: hidden
}
.addContent .col-auto {
	
}
.addContent .col-right {
	WIDTH: 204px; MARGIN-LEFT: 6px; OVERFLOW: hidden
}
.addContent .col-right .content H6 {
	BORDER-BOTTOM: #cfdce3 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 7px; PADDING-TOP: 8px
}
.addContent .col-right .content INPUT {
	MAX-WIDTH: 182px
}
.addContent .col-right .content .upload-pic {
	TEXT-ALIGN: center; WIDTH: 180px; HEIGHT: 180px; OVERFLOW: hidden
}
.addContent .col-right .content .upload-pic A {
	TEXT-ALIGN: center; WIDTH: 180px; DISPLAY: block; HEIGHT: 145px; FONT-SIZE: 105px; VERTICAL-ALIGN: middle
}
.addContent .col-right .content .upload-pic {
	BORDER-BOTTOM: #dce6ea 1px solid; BORDER-LEFT: #dce6ea 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; ZOOM: 1; BACKGROUND: #eef2f2; BORDER-TOP: #dce6ea 1px solid; BORDER-RIGHT: #dce6ea 1px solid; PADDING-TOP: 1px
}
.addContent .col-right SELECT#template {
	WIDTH: 188px; MAX-WIDTH: 188px; _width: 188px
}
.list-dot {
	PADDING-BOTTOM: 10px
}
.list-dot LI {
	BORDER-BOTTOM: #c6dde0 1px dotted; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "??¨¬?"; COLOR: #bbb; PADDING-TOP: 5px; _height: 22px
}
.list-dot-othors LI {
	BORDER-BOTTOM: #c6dde0 1px dotted; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "??¨¬?"; COLOR: #bbb; PADDING-TOP: 5px; _height: 22px
}
.list-dot LI:hover {
	BACKGROUND-COLOR: #d9e5ee
}
.list-dot-othors LI:hover {
	BACKGROUND-COLOR: #d9e5ee
}
.list-dot LI SPAN {
	COLOR: #004499
}
.list-dot-othors LI SPAN {
	COLOR: #004499
}
.list-dot LI A.close SPAN {
	DISPLAY: none
}
.list-dot-othors LI A.close SPAN {
	DISPLAY: none
}
.list-dot LI A.close {
	POSITION: absolute; OUTLINE-STYLE: none; WIDTH: 16px; BOTTOM: 5px; DISPLAY: block; BACKGROUND: url(../images/cross.png) no-repeat left 3px; HEIGHT: 16px; RIGHT: 5px
}
.list-dot-othors LI A.close {
	POSITION: absolute; OUTLINE-STYLE: none; WIDTH: 16px; BOTTOM: 5px; DISPLAY: block; BACKGROUND: url(../images/cross.png) no-repeat left 3px; HEIGHT: 16px; RIGHT: 5px
}
.list-dot LI A.close:hover {
	BACKGROUND-POSITION: left -46px
}
.list-dot-othors LI A.close:hover {
	BACKGROUND-POSITION: left -46px
}
.list-dot-othors LI {
	WIDTH: 24%; FLOAT: left; OVERFLOW: hidden
}
.comment {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}
.comment .title {
	MARGIN-BOTTOM: 5px
}
.comment .title SPAN {
	POSITION: relative; TOP: -5px
}
.comment .content {
	BORDER-BOTTOM: #c4d5df 1px solid; BORDER-LEFT: #c4d5df 1px solid; PADDING-BOTTOM: 8px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: #f6f9fb; FONT-SIZE: 14px; BORDER-TOP: #c4d5df 1px solid; BORDER-RIGHT: #c4d5df 1px solid; PADDING-TOP: 8px
}
.comment .content SPAN {
	DISPLAY: block
}
.comment_button {
	MARGIN-BOTTOM: 15px
}
.comment_button A {
	BORDER-BOTTOM: #c3d4e7 1px solid; BORDER-LEFT: #c3d4e7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #c3d4e7 1px solid; BORDER-RIGHT: #c3d4e7 1px solid; PADDING-TOP: 5px
}
.comment_button A.on {
	BORDER-BOTTOM: #3e73a9 1px solid; BORDER-LEFT: #3e73a9 1px solid; BACKGROUND: #4c7fb6; COLOR: #fff; BORDER-TOP: #3e73a9 1px solid; BORDER-RIGHT: #3e73a9 1px solid
}
.fillet {
	BORDER-BOTTOM: #c4d5df 1px solid; POSITION: relative; BORDER-LEFT: #c4d5df 1px solid; ZOOM: 1; BORDER-TOP: #c4d5df 1px solid; BORDER-RIGHT: #c4d5df 1px solid
}
.fillet SPAN.o1 {
	POSITION: absolute; WIDTH: 3px; BACKGROUND: url(../images/fillet.png) no-repeat; HEIGHT: 3px; FONT-SIZE: 1px
}
.fillet SPAN.o2 {
	POSITION: absolute; WIDTH: 3px; BACKGROUND: url(../images/fillet.png) no-repeat; HEIGHT: 3px; FONT-SIZE: 1px
}
.fillet SPAN.o3 {
	POSITION: absolute; WIDTH: 3px; BACKGROUND: url(../images/fillet.png) no-repeat; HEIGHT: 3px; FONT-SIZE: 1px
}
.fillet SPAN.o4 {
	POSITION: absolute; WIDTH: 3px; BACKGROUND: url(../images/fillet.png) no-repeat; HEIGHT: 3px; FONT-SIZE: 1px
}
.fillet SPAN.o1 {
	BACKGROUND-POSITION: left -6px; TOP: -1px; LEFT: -1px
}
.fillet SPAN.o2 {
	BACKGROUND-POSITION: right -6px; TOP: -1px; RIGHT: -1px
}
.fillet SPAN.o3 {
	BOTTOM: -1px; BACKGROUND-POSITION: left bottom; LEFT: -1px
}
.fillet SPAN.o4 {
	BOTTOM: -1px; BACKGROUND-POSITION: right bottom; RIGHT: -1px
}
.workflow {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 140px; PADDING-TOP: 10px
}
.workflow .col {
	PADDING-BOTTOM: 20px; BACKGROUND: url(../images/arrowhead-y.png) no-repeat 10px bottom
}
.workflow DIV.off {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.workflow .content {
	POSITION: relative; LEFT: 130px
}
.workflow .title {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; BACKGROUND: #fff; FONT-SIZE: 14px; TOP: -1px; FONT-WEIGHT: 700; PADDING-TOP: 0px; LEFT: -130px
}
.workflow .title SPAN.line {
	BORDER-BOTTOM: #95b9cf 1px solid; POSITION: absolute; WIDTH: 32px; HEIGHT: 1px; FONT-SIZE: 1px; TOP: 17px; RIGHT: -37px
}
.workflow .fillet {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f6f9fb; PADDING-TOP: 8px
}
.workflow .name {
	FONT-SIZE: 14px
}
.ScreenLock {
	BACKGROUND-IMAGE: url(../images/ScreenLock.png); BACKGROUND-COLOR: #3a6ea5
}
.ScreenLock {
	Z-INDEX: 2000; POSITION: absolute; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 50%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.ScreenLock .inputpwd {
	POSITION: absolute; PADDING-BOTTOM: 28px; MARGIN: -102px 0px 0px -150px; PADDING-LEFT: 28px; WIDTH: 280px; PADDING-RIGHT: 28px; HEIGHT: 134px; FONT-SIZE: 14px; TOP: 50%; PADDING-TOP: 28px; LEFT: 50%
}
.ScreenLock H5 {
	LINE-HEIGHT: 60px; PADDING-LEFT: 40px; BACKGROUND: url(../images/msg_img/msg_bg.png) no-repeat 0px -476px; HEIGHT: 60px; PADDING-TOP: 10px
}
.ScreenLock .input-text {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Geneva,sans-serif,"??¨¬?"; BACKGROUND: url(../images/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
.ScreenLock .submit {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 55px; ZOOM: 1; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/ScreenLockBut.png) no-repeat; HEIGHT: 24px; BORDER-LEFT-STYLE: none; CURSOR: hand
}
.map-menu UL {
	BORDER-BOTTOM: #a4c0f7 1px solid; BORDER-LEFT: #a4c0f7 1px solid; MARGIN: 4px; WIDTH: 156px; BORDER-TOP: #a4c0f7 1px solid; BORDER-RIGHT: #a4c0f7 1px solid
}
.map-menu UL LI.title {
	PADDING-LEFT: 5px; BACKGROUND: #edf2f8; FONT-WEIGHT: bold
}
.map-menu UL LI.title2 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
.map-menu UL LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.tab-use {
	POSITION: relative
}
.tab-use .arrows {
	POSITION: absolute; WIDTH: 16px; BACKGROUND: url(../images/toggle-collapse-dark.png) no-repeat; HEIGHT: 16px; OVERFLOW: hidden; TOP: -11px; LEFT: 0px
}
.tab-use UL {
	POSITION: absolute; WIDTH: 80px; DISPLAY: none; TOP: 5px; LEFT: 0px
}
.tab-use UL LI {
	
}
.tab-use UL A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; WIDTH: auto; PADDING-RIGHT: 8px; PADDING-TOP: 3px
}
/*页首*/
#ht_header_1{ width:100%; height:84px; margin:0 auto; background:#385f77;}
#ht_header{ width:990px; height:84px; margin:0 auto;}
#ht_header_2{ width:100%; height:46px; margin:0 auto; background:#45A8DF;border-bottom:1px solid #385f77;}
#ht_header2{ width:990px; height:45px; margin:0 auto;}
#ht_header .top .logo{ width:146px; height:54px; float:left; margin-top:5px; background:url(../images/logo.png) no-repeat;}
#ht_header .top{ width:990px; height:68px; font-size:12px;}
#ht_header .top a{ color:#FFF;}
#ht_header .top a:hover{ color:#e66f4f;}
  #ht_header .top ul{ width:388px; height:22px; float:right; margin-top:5px;}
  #ht_header .top li{ height:22px; line-height:22px; display:block; float:left}
  #ht_header .top .span{ color:#e66f4f;}
  #ht_header .top .cz{ width:54px; height:22px; display:block; text-align:center;  background:url(../images/cz_1_03.png) no-repeat; color:#FFF}
  #ht_header .top .cz a{ color:#FFF}
  #ht_header .top .cz a:hover{ color:#fdff63}
#ht_header .nav_1{ width:985px; height:43px; background:url(../images/nav_07.png) no-repeat; font-size:14px;  text-align:center; padding-left:5px;} /* border-radius:2px 2px 0px 0px;*/
#ht_header .nav_1 a{ color:#FFF}
  #ht_header .nav_1 li{ width:80px; font-family:14px; font-weight:bold; color:#FFF;line-height:34px; float:left; margin-top:9px;}  
  #ht_header .nav_1 .bj a{background:url(../images/sbjg_04.jpg) no-repeat; display:block; text-align:center; color:#2c6081; font-weight:bold;} 
  #ht_header .bottom{ width:988px; height:13px; background:url(../images/bottom_11.jpg) repeat-x; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; border-left:1px solid #cccccc;}  


.tipbox{
	background: #e5f3ff;
	border: 1px solid #c0dffa;
	border-radius: 6px;
	padding: 15px;
	line-height: 26px;
	font-size: 13px;
	margin: 40px 40px;
	margin-bottom: 0;
 }
 
.orderby-box {
  padding: 10px 0px 20px  0px;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}
.orderby-box dl {
  position: relative;
  padding-left: 110px;
  margin-bottom: 15px;
  display:block;
  display:block;
}
.orderby-box dt {
  width: 100px;
  text-align: right;
  font-size: 14px;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
  line-height:25px;
  height:25px;
  margin-bottom:15px;
  display:block;
}
.orderby-box dd {
  float: left;
  margin: 0 4px;
  padding: 0 0px;
  color: #e35b5d;
  line-height: 25px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  line-height:25px;
  height:25px;
  margin-bottom:15px;
  display:block;
  width:80px;
  text-align:center;
}
.orderby-box dd:hover{
color:white;
background:rgb(227,91,93);
}

.orderby-box dd.on {
  color: #fff;
  
  background: #e35b5d;
}

.clearfix {
  clear:both;
}




.search-condition {
	float:left;
	border-top:1px solid #d2d2d2;
	margin-bottom:30px;
	padding-bottom:26px;
	position:relative;
	z-index:1;
	width:100%;
}
.search-condition ul {
	border:1px solid #d2d2d2;
	background:#F9F9F9;
}
.search-condition ul li,.search-streamline p {
	padding:10px 17px;
	padding-right:0;
	background:#F9F9F9;
	border-bottom:1px solid #eee;
	margin:0px;
}
.search-condition ul li .list-left {
	float:left;
	width:84px;
	line-height:20px;
	padding:5px 10px 0 13px;
	font-size:12px;
	background:url(../img3.gif) 0 7px no-repeat;
	text-align:right;
}
.search-condition ul li .list-right {
	float:left;
	width:85%;
	font-size:12px;
	line-height:20px;
	text-align:center;
	position:relative;
}
.search-condition ul li .list-right .beginning {
	float:left;
	width:53px;
	height:25px;
	margin-top:5px;
	display:inline-block;
	*display:inline;
	*zomm:1;
	text-align:left;
}
.search-condition ul li .list-right .text-block {
	float:left;
	width:90%;
	margin-top:5px;
}
.search-condition ul li .list-right p {
	float:left;
	width:850px;
	maring:5px 0;
	white-space:nowrap;
}
.search-condition ul li .list-right .active {
	float:left;
	padding:0 9px;
	height:20px;
	color:#fff;
	background:#e35b5d;

	display:inline-block;

	*display:inline;
	*zomm:1
}
.search-condition ul li .list-right a{
	float:left;
	padding:0 9px;
	margin:0 5px;
	height:20px;
	color:#e35b5d;
	display:inline-block;
	*display:inline;
	*zomm:1
}
.search-condition ul li .list-right a:link,.search-condition ul li .list-right a:visited,.search-condition ul li .list-right a:hover {
	float:left;
	padding:0 9px;
	margin:0 5px;
	height:20px;
	color:#e35b5d;
	display:inline-block;
	*display:inline;
	*zomm:1
}
.search-condition ul li .list-right a.active:link,.search-condition ul li .list-right a.active:visited,.search-condition ul li .list-right a.active:hover {
	color:#fff;
	padding:0 9px;
	height:20px;
	color:#fff;
	background:#e35b5d;
}
.search-condition ul li .list-right a:hover {
	color:#fff;
	background:#e35b5d;
	text-decoration:none
}
.search-condition ul li .list-right span {
	float:left;
	color:#ccc;
	margin:0 5px
}
.search-condition ul li .list-right .form {
	position:absolute;
	top:5px;
	right:0;
}
.search-condition ul li .list-right .form input {
	width:30px;
	height:14px;
	margin:0 6px;
}
.search-condition ul li .list-right .form .btn_submt {
	width:40px;
	height:22px;
}
.search-condition ul li .list-right a.orange-link:link,.search-condition ul li .list-right a.orange-link:visited {
	color:#DE6412;
	text-decoration:underline;
}
.search-condition ul li .list-right a.orange-link:hover {
	color:#DE6412;
	text-decoration:none;
	background:none
}

.k_s{width:100%;overflow:hidden;padding:10px 0px}
.k_s_t{height:36px;line-height:36px;font-size:15px;border-bottom: 1px solid #DDDDDD;background-color: #F7F7F7;padding-left:16px;color:#EB4362;font-weight:700;}
.k_s ul{border-bottom: 1px solid #DDDDDD;overflow:hidden;}
.k_s li{width:120px;border-right: 1px solid #DDDDDD;float:left;height:120px;text-align:center;font-size:14px;}
.k_s i{height:120px;display:block;background: url(../img/index_meun.png) no-repeat center center;}
.k_s .ico_1{background-position: 0px 0px;margin: 10px auto;width: 64px;height:64px}  
.k_s .ico_2{background-position: 0px -291px;margin: 10px auto;width: 64px;height:64px}  
.k_s .ico_3{background-position: 0px -197px;margin: 10px auto;width: 64px;height:64px}  
.k_s .ico_4{background-position: 0px -392px;margin: 10px auto;width: 64px;height:64px}  
.k_s .ico_5{background-position: 0px -96px;margin: 10px auto;width: 64px;height:64px}   
.k_s .ico_6{background-position: 0px -493px;margin: 10px auto;width: 64px;height:64px} 
.k_s .ico_7{background-position: 0px -390px;margin: 10px auto;width: 64px;height:64px}  